<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="main">
      <div id="header">
        <span id="hostname">Host: {{ .Hostname }}</span>
        <span id="uptime">Uptime: {{ .Uptime }}</span>
      </div>
      <form id="commands" method="post" target="htmz">{{ range .Commands }}
        <button class="command" formaction="command/{{ . }}#command-output">{{ . }}</button>{{ end }}
      </form>
      {{- if .ExecAlways }}
      <div id="exec-always">
      {{ range $index := .ExecAlways }}<div><iframe hidden src="exec-always/{{ $index }}" onload="hideLoader(this)"></iframe><div class=loader></div></div>{{- end }}
      </div>{{ end }}
      {{- if .DisksUsage }}
      <table id="disk-usage">
        <thead>
          <tr>
            <th>Mounted on</th>
            <th>Size</th>
            <th>Used</th>
            <th>Avail</th>
            <th>Use%</th>
          </tr>
        </thead>
        <tbody>
          {{ range $key, $value := .DisksUsage }}<tr>
            <td>{{ $key }}</td>
            <td>{{ .Size }}</td>
            <td>{{ .Used }}</td>
            <td>{{ .Avail }}</td>
            <td style={{ .UsePercentStyle }}>{{ .UsePercent }}</td>
          </tr>{{ end }}
        </tbody>
      </table>{{ end }}
      <pre id="command-output"></pre>
    </div>
    <footer>
      <a href="https://github.com/mtvrsh/dashboard">github.com/mtvrsh/dashboard</a>
    </footer>
    <script>
    function hideLoader(elem) {
      p = elem.parentElement;
      p.removeChild(p.querySelector(".loader"));
      elem.replaceWith(...elem.contentDocument.body.childNodes);
    }
    function htmz(frame) {
        if (frame.contentWindow.location.href === "about:blank") return;
        setTimeout(() => {
          document
            .querySelector(frame.contentWindow.location.hash || null)
            ?.replaceWith(...frame.contentDocument.body.childNodes);
          frame.remove();
          document.body.appendChild(frame);
        });
      }
    </script>
    <iframe hidden name="htmz" onload="window.htmz(this)"></iframe>
  </body>
</html>
