:root {
  --dark-bg: #282828;
  --dark-fg: #ebdbb2;
  --dark-btn: #689d6a;
  --light-bg: #fbf1c7;
  --light-fg: #3c3836;
  --light-btn: #8ec07c; /* #d79921 */
}

body {
  background-color: var(--light-bg);
  color: var(--light-fg);
  font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

#main {
  background-color: var(--dark-fg);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-width: 300px;
  padding: 1em;
  width: min-content;
}

#main > * {
  flex: 1 1 300px;
}

#header {
  margin-bottom: 5px;
}

#hostname {
  float: left;
  text-align: left;
  width: 50%;
}

#uptime {
  float: right;
  text-align: right;
  width: 50%;
}

#commands {
  display: flex;
  flex-wrap: wrap;
}

#commands > * {
  flex: 1;
}

.command {
  background-color: var(--dark-fg);
  border: 1px solid var(--dark-bg);
  border-radius: 3px;
  color: var(--light-fg);
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

.command:hover {
  background-color: var(--light-btn);
}

th, td {
  text-align: right;
}

th:first-child, td:first-child {
  text-align: left;
  white-space: pre;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
    color: var(--dark-fg);
  }

  #main {
    background-color: var(--light-fg);
  }

  .command {
    background-color: var(--light-fg);
    color: var(--dark-fg);
  }

  .command:hover {
    background-color: var(--dark-btn);
  }
}
