body {
  background-color: #fbf1c7;
  color: #3c3836;
  font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

#main {
  background-color: #ebdbb2;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-width: 300px;
  padding: 1em;
  width: min-content;
}

#main > * {
  flex: 1 1 300px;
}

#header {
  margin-bottom: 5px;
}

#hostname {
  float: left;
  text-align: left;
  width: 50%;
}

#uptime {
  float: right;
  text-align: right;
  width: 50%;
}

#commands {
  display: flex;
  flex-wrap: wrap;
}

#commands > * {
  flex: 1;
}

.command {
  background-color: #ebdbb2;
  border: 1px solid #282828;
  border-radius: 3px;
  color: #3c3836;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

.command:hover {
  /* background-color: #d79921; */
  background-color: #8ec07c;
}

th, td {
  text-align: right;
}

th:first-child, td:first-child {
  text-align: left;
  white-space: pre;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #282828;
    color: #ebdbb2;
  }

  #main {
    background-color: #3c3836;
  }

  .command {
    background-color: #3c3836;
    color: #ebdbb2;
  }

  .command:hover {
    background-color: #689d6a;
  }
}
